.intro{
	background-color: #000;
}
.title{
	color: #ffc940;
	font-family: 'Pacifico';

}
.obj{
	background-color: #000;
	color: #fff;
	transition: 2s;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}
*{
	    box-sizing: border-box;
    transition:  0.4s;
}
/* Navbar section */

.nav{
    width: 100%;
    height: 65px;
	margin: 0;
    padding: 0;
    line-height: 65px;
    background-color: #ffbb00;

}


.nav div.logo a:hover {
    color: #000;
}

.nav div.main_list{
    width: 600px;
    height: 65px;
    float: right;
}

.nav div.main_list ul{
    width:100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li{
    width: 120px;
    height: 65px;
}

.nav div.main_list ul li a{
    text-decoration: none;
    color: #94938f;
    line-height: 65px;
    text-transform: uppercase;
}

.nav div.main_list ul li a:hover{
    color: #000;
}


.home{
    width: 100%;
    height: 100vh;
    background-color: #ddd;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .container{
        margin: 0;
    }
    
}

@media screen and (max-width:768px) {
    
    .container{
        margin: 0;
    }
	
.post{
	color: grey;
	font-family: 'Satisfy';
}
    
.about{
	padding: 15px;
}
.plot{
	transition: 2s;
}
#grad {
  background-color :#ffbb00;
}